[Desktop Entry]
Version=1.0
Name=Torgo
GenericName=Torgo
Comment=Logo Interpreter
Exec=java -Dsun.java2d.opengl=true -jar /opt/extras.ubuntu.com/torgo/torgo-1.7.0.jar %f
TryExec=
Icon=/opt/extras.ubuntu.com/torgo/torgo-64x64.ico
Terminal=false
Type=Application
Categories=Interpreter;Development;Application
MimeType=text/x-dynamic-logo;text/x-lexical-logo;text/x-lisp;text/x-jvmBasic;text/plain
X-KDE-Protocols=
Keywords=Interpreter;Logo
