[Desktop Entry]
Version=1.0
Name=Torgo
GenericName=Torgo
Comment=Logo Interpreter
Exec=java -Dsun.java2d.opengl=true -jar /opt/extras.ubuntu.com/torgo/torgo-1.4.2.jar
TryExec=
Icon=/opt/extras.ubuntu.com/torgo/torgo-64x64.ico
Terminal=false
Type=Application
Categories=Interpreter;Development;Application
MimeType=text/x-logo;text/x-lisp;text/x-bas;text/plain
X-KDE-Protocols=
Keywords=Interpreter;Logo
