[Desktop Entry]
Version=1.0.7
Name=Torgo
GenericName=Torgo
Comment=Logo Interpreter
Exec=torgo
TryExec=
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Type=Application
Categories=Interpreter;Development;Application
MimeType=
X-KDE-Protocols=
Keywords=Interpreter;Logo
