Source: torgo
Section: interpreters
Priority: optional
Maintainer: Matthew Aguirre <matt.aguirre@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), javahelper, openjdk-8-jdk, ant
Standards-Version: 3.9.5
Homepage: http://zenharbinger.github.io/torgo/

Package: torgo
Architecture: all
Depends: openjdk-8-jre | oracle-java8-installer
Description: Torgo Logo Interpreter
